{% extends "template.html" %}

{% block content %}
  <h3> Instructions and Documentation </h3>

  <p>
    See the details of the Encounter below. The Sender asssembles the Message Bundle as defined in the a Vinci Unsolicited Notifications Implementation Guide.
  </p>

  <div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/bundle.png')}}">
  </div>
<br/>
  <a class="btn btn-primary btn-lg" role="button" href="{{url_for('home')}}/{{ r_id }}">CLICK HERE to Assemble the Da Vinci Notification Bundle</a>
  <br/>
  <br/>
<hr/>
{% for i in r_id.split(",") %}
{% if r_id.split(",") | length > 1%}
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{i}}" aria-expanded="false" aria-controls="collapseExample{{i}}">
    Click Here to See the Encounter Resource {{i}} Details
  </button>
  <br/>
  <br/>
  <div class="collapse" id="collapseExample{{i}}">

{% endif %}

        <h3>{{r_type}} {{i}} Resource:</h3>

      <h4>Resource Rendered Narrative</h4>

      {{ r_pyfhir[loop.index0] | atterror_filter('text','div') | safe }}


      <h4>My Jinja2 Rendered Narrative</h4>
      <ul>
      <li>
      <strong>ID</strong>: {{ r_pyfhir[loop.index0].id }}
      </li>
      <li>
      <strong>Version</strong>: {{ r_pyfhir[loop.index0].meta.versionId }}
      </li>
      <li>
      <strong>Status</strong>: {{ r_pyfhir[loop.index0].status }}
      </li>
      <li>
      <strong>Type</strong>: {{ r_pyfhir[loop.index0].type[0].text }}
      </li>
      {% if r_pyfhir[loop.index0].hospitalization %}
      <li>
      <strong>Hospitalization Admission Source</strong>: {{ r_pyfhir[loop.index0].hospitalization.admitSource.text }}
      </li>
      <li>
      <strong>Hospitalization Discharge Disposition</strong>: {{ r_pyfhir[loop.index0].hospitalization.dischargeDisposition.text }}
      </li>
      {% endif %}
      <li>
      <strong>Identifier</strong>: {{ r_pyfhir[loop.index0] | atterror_filter("identifier", "value") | safe }}
      </li>
      <li>
      <strong>Organization1</strong>: {{ r_pyfhir[loop.index0] | atterror_filter('serviceProvider','reference') | safe }}
      </li>
      <li>
      <strong>Location</strong>: {{ r_pyfhir[loop.index0] | atterror_filter('location','location','reference') | safe }}
      </li>
      <li>
      <strong>Subject</strong>: {{ r_pyfhir[loop.index0] | atterror_filter('subject','reference') | safe }}
      </li>
      <li>
      <strong>Practitioner</strong>: {{ r_pyfhir[loop.index0] | atterror_filter('participant','individual','reference') | safe }}
      </li>
      </ul>

      <h4>JSON Format</h4>

      <pre class="json">
      {{ r_pyfhir[loop.index0].as_json() | tojson(indent=4) }}
      </pre>

  {% if r_id.split(",") | length > 1%}
      </div>
  {% endif %}
  {% endfor %}


{% endblock content %}
