{% extends "template.html" %}

{% block content %}
  <h3>   Contact Information  </h3>
  <br>
  <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
  <br>
  
<div>
  <a no-external="true" href="http://www.hl7.org/about/davinci/">
<img alt="visit our website" class="img-responsive project-logo" src="{{url_for('static', filename='images/org_logo.png')}}">
</div>

  <p>{# My string (in markdown!!):#} {{my_string | markdown | safe }}</p>
  {{ '''**Contact :**

  >Eric M Haas, DVM, MS<br/>
  > *Health eData Inc*<br/>
  > 35 Crescent Avenue, Sausalito, CA 94965<br/>
  > 707.227.2608<br/>
  > ehaas@healthedatainc.com<br/>
  > Skype: haas.eric1''' | markdown | safe }}
  <!--
  <p>Same list with a filter: {{ my_list|join(', ') }}</p>
  -->

{% endblock content %}
