{% extends "template.html" %}

{% block content %}
  <h3> Instructions and Documentation </h3>

<p> See below for the response from the {% if title == "Transaction Bundle Response" %}transaction{% else %}$process-message{% endif %} endpoint server (Receiver/Intermediary).
{% if intermed %}
Click on this <a href=#forward>link</a> or scroll down to initiate the forwarding of the the Message Bundle by the Intermediary as defined in the a Vinci Unsolicited Notifications Implementation Guide.
{% endif %}
Click "Home" in the menu bar to start over
</p>

{% if title == "Transaction Bundle Response" %}
<div>
    <img alt="Transaction Bundle" class="img-responsive" src="{{url_for('static', filename='images/trans_bundle_post.svg')}}">
</div>
{% else %}
<div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/response.png')}}">
</div>
{% endif %}
<br/>

{{my_string1 | markdown | safe }}
{{my_string2 | markdown | safe }}

<h4>Response Headers:</h4>
<pre>
{{ headers | tojson(indent=4) }}
</pre>

<h4>Operation Outcome or Resource:</h4>
<pre>
{{ oo | tojson(indent=4) }}
</pre>

<hr />

{% if intermed %}
<a name="forward"></a>
<h4>
Forwarding the Message Bundle
</h4>
</hr>

<div>
  <img alt="forward bun" class="img-responsive" src="{{url_for('static', filename='images/intermed.png')}}">
</div>
<br/>
<form action="/ForwardBundle" method="post" name="forward-bundle">
<!--  <a class="btn btn-primary btn-lg" role="button" href="{{url_for('home')}}/{{ r_id }}">CLICK HERE to Assemble the Da Vinci Notification Bundle</a>
<br/>
-->
<input type="submit" class="btn btn-primary btn-lg" role="button" value="CLICK HERE to Forward the Da Vinci Notification Bundle"></input>
<br/>
  <input type="radio" name="intermed" id="intermed-no-change" value="transmit" checked/>
  <label for="intermed-no-change"> Intermediary forwarding message with no change to content</label><br>
  <input type="radio" name="intermed" id="intermed-change" value="amend"/>
  <label for="intermed-change"> Intermediary forwarding message with change to content (removal of Coverage resource)</label><br>
<br/>
</form>
{% endif %}

{% endblock content %}
