{% extends "template.html" %}

{% block content %}
  <h3> Instructions and Documentation </h3>

<p> See below for the response from the {% if title == "Transaction Bundle Response" %}transaction{% else %}$process-message{% endif %} endpoint server (Receiver/Intermediary).
Click "Home" in the menu bar to start over
</p>

<div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/response.png')}}">
</div>
<br/>

{{my_string1 | markdown | safe }}
{{my_string2 | markdown | safe }}

<h4>Response Headers:</h4>
<pre>
{{ headers | tojson(indent=4) }}
</pre>

<h4>Operation Outcome:</h4>
<pre>
{{ oo | tojson(indent=4) }}
</pre>

{% endblock content %}
