{% extends "template.html" %}

{% block content %}
  <h3> Instructions and Documentation </h3>

  <p>
    See the details of the Encounter below. The Sender asssembles the Message Bundle as defined in the a Vinci Unsolicited Notifications Implementation Guide.
  </p>

  <div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/bundle.png')}}">
  </div>
<br/>
  <a class="btn btn-primary btn-lg" role="button" href="../MessageBundle/{{ r_id }}">CLICK HERE for view of Assembled Da Vinci Notification Bundle</a>

{{my_string | markdown | safe }}
  <h3>{{r_type}} {{r_id}} Resource:</h3>

<h4>resource rendered narrative</h4>

{{ r_pyfhir | atterror_filter('text','div') | safe }}


<h4>My Jinja2 rendered narrative</h4>
<ul>
<li>
<strong>ID</strong>: {{ r_pyfhir.id }}
</li>
<li>
<strong>Status</strong>: {{ r_pyfhir.status }}
</li>
<li>
<strong>Identifier</strong>: {{ r_pyfhir | atterror_filter("identifier", "value") | safe }}
</li>
<li>
<strong>Organization1</strong>: {{ r_pyfhir | atterror_filter('serviceProvider','reference') | safe }}
</li>
<li>
<strong>Location</strong>: {{ r_pyfhir | atterror_filter('location','location','reference') | safe }}
</li>
<li>
<strong>Subject</strong>: {{ r_pyfhir | atterror_filter('subject','reference') | safe }}
</li>
<li>
<strong>Practitioner</strong>: {{ r_pyfhir | atterror_filter('participant','individual','reference') | safe }}
</li>
</ul>

<h4>raw json</h4>

<pre class="json">
{{ r_pyfhir.as_json() | tojson(indent=4) }}
</pre>
<br>

{% endblock content %}
