{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}  <!-- foo -->
  <h3> Documentation and Instructions</h3>
  <p>{# My string (in markdown!!): #} {{'This is a simple Flask App FHIR Facade which:

For single "real-time" Notifications:

  1. Fetches *Admit* and *Discharge* Encoounters from the **{ref_server}** Reference Server
  1. Builds the Da Vinci Notifications Message Bundle
  1. Submits the Message to the nominated endpoint using the `$process-message` operation
  1. Receives and displays the $process-message operation response from the server
  1. If the endpoint is an Intermediary either:
     - Forwards a new Message with **no changes** to the content to the nominated endpoint using the `$process-message` operation
     - or Forwards a new changed Message with **changes** to the content (removal of Coverage resource) to the nominated endpoint using the `$process-message` operation

<!--
For a Batch Transaction of multiple Notification:

  1. Fetches all the relevant *Admit* and *Discharge* Encounters from the **{ref_server}** Reference Server
  1. Builds a transaction Bundle with:
     1. the Da Vinci Notifications Message Bundle as entries
     1. `POST` for the request method
     1. `/$process-message` for the request url
  1. Submits the transaction Bundle to the nominated endpoint using the `POST` operation
  1. Receives and displays the "transaction-response" response from the server.'.format(ref_server=ref_server) | markdown | safe}}</p>
  <div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/trigger.png')}}">
  </div>
-->

<hr/>

{{ '**For *Real-Time Notifications* Click on button below to fetch an admit, transfer, or discharge Encounter resource**'  | markdown | safe}}

    {% for n in enc_list %}
      {% if loop.index % 3 == 1 %}
          <p><strong>Encounter id ={{n[:-12]}}: </strong></p><a class="btn btn-primary" role="button" href="Encounter/{{n}}">Admit</a>
      {% elif loop.index % 3 == 2 %}
          </strong><a class="btn btn-primary" role="button" href="Encounter/{{n}}">Transfer</a>
      {% else %}
          </strong><a class="btn btn-primary" role="button" href="Encounter/{{n}}">Discharge</a>

          <br /><br />
      {% endif %}
    {% endfor %}

  <br>
<!--
  <hr/>
{{ '**For *Batch Notifications* Click on button below to fetch all the admit, transfer, and discharge Encounter resources**'  | markdown | safe}}

    <a class="btn btn-primary" role="button" href="Encounter/{{ enc_list[:-1]|join(',') }}">Batch Encounters</a>

  <hr/>
-->
{% endblock %}
