{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}  <!-- foo -->
  <h3> Documentation and Instructions</h3>
  <p>{# My string (in markdown!!): #} {{my_string | markdown | safe}}</p>
  <div>
    <img alt="trigger event" class="img-responsive" src="{{url_for('static', filename='images/trigger.png')}}">
  </div>



{{ "**Click on button below to Fetch an admit or discharge Encounter Resource**"  | markdown | safe}}

    {% for n in enc_list %}
    <a class="btn btn-primary" role="button" href="Encounter/{{n}}">Encounter/{{n}}</a>
    <br /><br />
    {% endfor %}

  <br>
  <!--
  <p>Same list with a filter: {{ enc_list|join(', ') }}</p>
  -->


{% endblock %}
